<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap/base")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap/theme")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.js")" type="text/javascript"></script>
    <style type="text/css">
       

    </style>
</head>
<body>
     <div class="container-narrow">

         <div class="header">
             <ul class="nav nav-pills pull-right">
                 <li class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
                 <li><a href="@Url.Action("MyPage", "Home")">My page</a></li>
             </ul>
             <h3 class="text-muted">My Serialz</h3>
         </div>
         <hr />
         <div class="jumbotron">
             @RenderBody()
         </div>
        <hr>
         <div class="footer">
             blanciq&copy; 2013
         </div>
    </div>
    <script src="~/bundles/bootstrap"></script>
    @RenderSection("scripts", false)
</body>
</html>
