@model Serials.Web.Models.HomePageViewModel
@{
    ViewBag.Title = "MySerialz";
}

<div>
    @using (Html.BeginForm("Details", "Home", FormMethod.Get))
    {
        @Html.TextBox("title")
        @Html.Label("Store in repo")
        @Html.CheckBox("store", false)
        @Html.Label("Use cache")
        @Html.CheckBox("cache", true)
        <button type="submit">Search</button>
    }
</div>
<h1>Current serials</h1>
<ul>
    @foreach (var serial in Model.Serials)
    {
        <li>@Html.ActionLink(serial.Title, "Details", "Home", new { title = serial.Title }, null)</li>
    }
</ul>